# --- AcademicTeleBot GitIgnore ---

# Sensitive Credentials
.env

# Virtual Environments
venv/
.venv/
env/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class

# Database Files
*.db
*.sqlite3

# Log Files
*.log

# System Files
.DS_Store
Thumbs.db

# VS Code / IDE Settings
.vscode/
.idea/